*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

body{
background-image: url('fondo_africa.jpg');
background-size: 90%;
}

h1{
    text-align: center;
    font-size: 60px;
    letter-spacing: 30px;
    color: #B3B6B7;
    margin-top: 80px;
 }

.contenedor{
    display: flex;
    justify-content: center;
    gap: 20px;    
  }

button{
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

img{    
    border-radius: 10px;
    width: 400px;
    height: 300px;
    }   

@media only screen and (max-width : 900px) {
    .contenedor{
        flex-direction: column;
    }

    h1{
        font-size: 30px;
        letter-spacing: 10px;
        color: #B3B6B7;
     }
    
     img{

        border-radius: 10px;
        width: 200px;
        height: 100px;
    } 
    }