*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Oleo Script Swash Caps', cursive;
    
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    letter-spacing: 30px;
    color: #D0D3D4

}

