.boton {
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}



.alternar .alternar1 {
    background-image: url(leon1.jpg);
}

.alternar.activo {
    background-image: url(leon2.jpg);
    color: white;
}
      